div {
    border: 2px solid black;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: bold;
    font-size: larger;
    width: 300px;
}

.solid{
    border: 4px solid black;
}

.dashed{ 
    border: 3px dashed #333;
}

.dotted{
    border: 2px dotted #666;
}

.mixed{

    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
}